### 2.   Load and Explore Dataset

**[2.1]** Download the dataset into the `data/raw` folder: https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv

In [1]:
!wget -P ../data/raw https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv

--2022-03-22 10:01:06--  https://code.datasciencedojo.com/datasciencedojo/datasets/raw/master/Default%20of%20Credit%20Card%20Clients/default%20of%20credit%20card%20clients.csv
Resolving code.datasciencedojo.com (code.datasciencedojo.com)... 167.99.111.153
Connecting to code.datasciencedojo.com (code.datasciencedojo.com)|167.99.111.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2867294 (2.7M) [text/plain]
Saving to: ‘../data/raw/default of credit card clients.csv’

default of credit c 100%[===================>]   2.73M   232KB/s    in 19s

2022-03-22 10:01:47 (145 KB/s) - ‘../data/raw/default of credit card clients.csv’ saved [2867294/2867294]

**[2.1]** Launch the magic commands for auto-relaoding external modules

In [2]:
#Solution
%load_ext autoreload
%autoreload 2

**[2.2]** Import the pandas and numpy packages

In [3]:
#Solution
import pandas as pd
import numpy as np

**[2.4]** Load the data in a dataframe called `df`

In [4]:
#Solution:
df = pd.read_csv('../data/raw/default of credit card clients.csv', skiprows=1)

**[2.5]** Display the first 5 rows of df

In [5]:
# Solution
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

**[2.6]** Display the dimensions (shape) of df

In [6]:
# Solution
df.shape

(30000, 25)

**[2.7]** Display the summary (info) of df

In [7]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

**[2.8]** Display the descriptive statistics of df

In [8]:
# Solution
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

### 3. Prepare Data

**[3.1]** Create a copy of `df` and save it into a variable called `df_cleaned`

In [9]:
# Solution
df_cleaned = df.copy()

**[3.2]** Remove the column `ID` as it is an identifier for rows

In [10]:
# Solution
df_cleaned.drop('ID', axis=1, inplace=True)

**[3.3]** Create a variable called `target_col` that contains the name of the target variable

In [11]:
# Solution
target_col = 'default payment next month'

**[3.4]** Import `StandardScaler` and `OneHotEncoder` from `sklearn.preprocessing`

In [12]:
# Solution
from sklearn.preprocessing import StandardScaler, OneHotEncoder

**[3.5]** Create a list called `cat_cols` that contains `SEX`, `EDUCATION`, `MARRIAGE`, `PAY_0`, `PAY_2`, `PAY_3`, `PAY_4`, `PAY_5`, `PAY_6`

In [13]:
# Solution
cat_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

**[3.6]** Create a list called `num_cols` that contains all numeric columns

In [14]:
# Solution
num_cols = list(set(df_cleaned.columns) - (set(cat_cols) | set([target_col])))

**[3.7]** Instantiate a `StandardScaler` and called it `sc`

In [15]:
# Solution
sc = StandardScaler()

**[3.8]** Fit and transform the numeric feature of `df_cleaned` and replace the data into it

In [16]:
# Solution
df_cleaned[num_cols] = sc.fit_transform(df_cleaned[num_cols])

**[3.9]** Instantiate a `OneHotEncoder` and called it `ohe`

In [17]:
# Solution
ohe = OneHotEncoder(sparse=False)

**[3.10]** Perform One-Hot encoding on `cat_cols` and save them into a dataframe called `X_cat`

In [18]:
# Solution
X_cat = pd.DataFrame(ohe.fit_transform(df_cleaned[cat_cols]))

**[3.11]** Extract the feature names from `ohe` and replace the names of the columns of the `X_cat`

In [25]:
# Solution
X_cat.columns = ohe.get_feature_names(cat_cols)

**[3.12]** Drop the original columns of `cat_cols` from `df_cleaned`

In [26]:
# Solution
df_cleaned.drop(cat_cols, axis=1, inplace=True)

KeyError: "['SEX' 'EDUCATION' 'MARRIAGE' 'PAY_0' 'PAY_2' 'PAY_3' 'PAY_4' 'PAY_5'\n 'PAY_6'] not found in axis"

**[3.13]** Concatenate `df_cleaned` with `X_cat` and save the result to a variable called `X`

In [27]:
# Solution
X = pd.concat([df_cleaned, X_cat ], axis=1)

**[3.15]** Import `split_sets_random` and `save_sets` from `src.data.sets`

In [28]:
# Solution
from src.data.sets import split_sets_random, save_sets

**[3.16]** Split the data into training and testing sets with 80-20 ratio

In [29]:
# Solution
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(X, target_col=target_col, test_ratio=0.2)

**[3.17]** Create the following folder: `../data/processed/credit_card_default`

In [30]:
!mkdir ../data/processed/credit_card_default

**[3.18]** Save the sets in the `data/processed/beijing_pollution` folder

In [31]:
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='../data/processed/credit_card_default/')

**[3.18]** Import this class from `src/models/pytorch` and convert all sets to PytorchDataset

In [32]:
# Solution:
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

### 4. Baseline Model

**[4.1]** Import `NullModel` from `src.models.null`

In [33]:
# Solution
from src.models.null import NullModel

**[4.2]** Instantiate a `NullModel` and call `.fit_predict()` on the training target to extract your predictions into a variable called `y_base`

In [34]:
# Solution:
baseline_model = NullModel(target_type='classification')
y_base = baseline_model.fit_predict(y_train)

**[4.3]** Import `print_class_perf` from `src.models.performance`

In [35]:
# Solution:
from src.models.performance import print_class_perf

**[4.4]** Print the classification metrics for this baseline model

In [36]:
# Solution:
print_class_perf(y_base, y_train, set_name='Training', average='weighted')

Accuracy Training: 0.7787222222222222
F1 Training: 0.6818471055307425

### 5. Define Architecture

**[5.1]** Import `torch`, `torch.nn` as `nn` and `torch.nn.functional` as `F`

In [37]:
# Solution:
import torch
import torch.nn as nn
import torch.nn.functional as F

**[5.2]** Create in `src/models/pytorch.py` a class called `PytorchBinary` that inherits from `nn.Module` with:
- `num_features` as input parameter
- attributes:
    - `layer_1`: fully-connected layer with 256 neurons
    - `layer_out`: fully-connected layer with 1 neurons
    - `sigmoid`: sigmoid function
- methods:
    - `forward()` with `inputs` as input parameter, perform ReLU and DropOut on the fully-connected layer followed by the output layer with sigmoid

In [ ]:
# Solution:
class PytorchBinary(nn.Module):
    def __init__(self, num_features):
        super(PytorchBinary, self).__init__()
        
        self.layer_1 = nn.Linear(num_features, 256)
        self.layer_out = nn.Linear(256, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = F.dropout(F.relu(self.layer_1(x)))
        x = self.sigmoid(self.layer_out(x))
        return (x)

**[5.3]** Instantiate `PytorchBinary` with the correct number of input feature and save it into a variable called `model`

In [38]:
# Solution:
from src.models.pytorch import PytorchBinary

model = PytorchBinary(X_train.shape[1])

**[5.4]** Import `get_device()` from `src.models.pytorch` and set `model` to use the device available

In [39]:
# Solution:
from src.models.pytorch import get_device

device = get_device()
model.to(device)

PytorchBinary(
  (layer_1): Linear(in_features=91, out_features=256, bias=True)
  (layer_out): Linear(in_features=256, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)

**[5.5]** Print the architecture of `model`

In [40]:
# Solution:
print(model)

PytorchBinary(
  (layer_1): Linear(in_features=91, out_features=256, bias=True)
  (layer_out): Linear(in_features=256, out_features=1, bias=True)
  (sigmoid): Sigmoid()
)

### 6. Train Model

**[6.1]** Instantiate a `nn.BCELoss()` and save it into a variable called `criterion`

In [41]:
# Solution:
criterion = nn.BCELoss()

**[6.2]** Instantiate a `torch.optim.Adam()` optimizer with the model's parameters and 0.001 as learning rate and save it into a variable called `optimizer`

In [42]:
# Solution:
optimizer = torch.optim.Adam(model.parameters(), lr=0.0001)

**[6.3]** Instantiate a `torch.optim.lr_scheduler.StepLR()` scheduler that will decrease the learning rate by a coefficient of 0.9 for each epoch

In [43]:
# Solution:
scheduler = torch.optim.lr_scheduler.StepLR(optimizer, 1, gamma=0.9)

**[6.4]** Create a function called `train_binary()` that will perform forward and back propagation and calculate loss and Accuracy scores

In [ ]:
def train_binary(train_data, model, criterion, optimizer, batch_size, device, scheduler=None, generate_batch=None):
    """Train a Pytorch binary classification model

    Parameters
    ----------
    train_data : torch.utils.data.Dataset
        Pytorch dataset
    model: torch.nn.Module
        Pytorch Model
    criterion: function
        Loss function
    optimizer: torch.optim
        Optimizer
    bacth_size : int
        Number of observations per batch
    device : str
        Name of the device used for the model
    scheduler : torch.optim.lr_scheduler
        Pytorch Scheduler used for updating learning rate
    collate_fn : function
        Function defining required pre-processing steps

    Returns
    -------
    Float
        Loss score
    Float:
        Accuracy Score
    """
    
    # Set model to training mode
    model.train()
    train_loss = 0
    train_acc = 0
    
    # Create data loader
    data = DataLoader(train_data, batch_size=batch_size, shuffle=True, collate_fn=generate_batch)
    
    # Iterate through data by batch of observations
    for feature, target_class in data:

        # Reset gradients
        optimizer.zero_grad()
        
        # Load data to specified device
        feature, target_class = feature.to(device), target_class.to(device).to(torch.float32)
        
        # Make predictions
        output = model(feature)
        
        # Calculate loss for given batch
        loss = criterion(output, target_class.unsqueeze(1))
        
        # Calculate global loss
        train_loss += loss.item()
        
        # Calculate gradients
        loss.backward()

        # Update Weights
        optimizer.step()
        
        # Calculate global accuracy
        train_acc += (output.argmax(1) == target_class).sum().item()

    # Adjust the learning rate
    if scheduler:
        scheduler.step()

    return train_loss / len(train_data), train_acc / len(train_data)

**[6.5]** Create a function called `test_binary()` that will perform forward and calculate loss and accuracy scores

In [ ]:
def test_binary(test_data, model, criterion, batch_size, device, generate_batch=None):
    """Calculate performance of a Pytorch binary classification model

    Parameters
    ----------
    test_data : torch.utils.data.Dataset
        Pytorch dataset
    model: torch.nn.Module
        Pytorch Model
    criterion: function
        Loss function
    bacth_size : int
        Number of observations per batch
    device : str
        Name of the device used for the model
    collate_fn : function
        Function defining required pre-processing steps

    Returns
    -------
    Float
        Loss score
    Float:
        Accuracy Score
    """    
    
    # Set model to evaluation mode
    model.eval()
    test_loss = 0
    test_acc = 0
    
    # Create data loader
    data = DataLoader(test_data, batch_size=batch_size, collate_fn=generate_batch)
    
    # Iterate through data by batch of observations
    for feature, target_class in data:
        
        # Load data to specified device
        feature, target_class = feature.to(device), target_class.to(device).to(torch.float32)
        
        # Set no update to gradients
        with torch.no_grad():
            
            # Make predictions
            output = model(feature)
            
            # Calculate loss for given batch
            loss = criterion(output, target_class.unsqueeze(1))

            # Calculate global loss
            test_loss += loss.item()
            
            # Calculate global accuracy
            test_acc += (output.argmax(1) == target_class).sum().item()

    return test_loss / len(test_data), test_acc / len(test_data)

**[6.5]** Create 2 variables called `N_EPOCHS` and `BATCH_SIZE` that will take respectively 10 and 32 as values

In [44]:
# Solution:
N_EPOCHS = 10
BATCH_SIZE = 32

**[6.6]** Create a for loop that will iterate through the specified number of epochs and will train the model with the training set and assess the performance on the validation set and print their scores

In [45]:
# Solution:
from src.models.pytorch import train_binary, test_binary

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_binary(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device, scheduler=scheduler)
    valid_loss, valid_acc = test_binary(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    print(f'\t(valid)\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	Loss: 0.0162	|	Acc: 77.9%
	(valid)	Loss: 0.0146	|	Acc: 77.9%
Epoch: 1
	(train)	Loss: 0.0144	|	Acc: 77.9%
	(valid)	Loss: 0.0141	|	Acc: 77.9%
Epoch: 2
	(train)	Loss: 0.0141	|	Acc: 77.9%
	(valid)	Loss: 0.0139	|	Acc: 77.9%
Epoch: 3
	(train)	Loss: 0.0139	|	Acc: 77.9%
	(valid)	Loss: 0.0139	|	Acc: 77.9%
Epoch: 4
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0138	|	Acc: 77.9%
Epoch: 5
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0138	|	Acc: 77.9%
Epoch: 6
	(train)	Loss: 0.0138	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 7
	(train)	Loss: 0.0137	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 8
	(train)	Loss: 0.0137	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%
Epoch: 9
	(train)	Loss: 0.0137	|	Acc: 77.9%
	(valid)	Loss: 0.0137	|	Acc: 77.9%

**[6.7]** Save the model into the `models` folder

In [46]:
# Solution
torch.save(model, "../models/pytorch_bin_default_card.pt")

**[6.8]** Assess the model performance on the testing set and print its scores

In [47]:
test_loss, test_acc = test_binary(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tAccuracy: {test_acc:.1f}')

	Loss: 0.0135	|	Accuracy: 0.8